<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Flynn School of Irish Dance</title>

    <link href='http://fonts.googleapis.com/css?family=Courgette' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/style.css">

  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-2">
          <img src="https://s3.amazonaws.com/flynnirishdance/Initial+Picture+Uploads/CelticCrossMeaning.jpg" class="img-rounded" style="width: 100px; height: 100px">
        </div>
        <div class="col-md-10">
          <h2>Flynn School of Irish Dance</h2>
            <p>The Flynn School of Irish dance was formed in 2006 by Bridget and Sean Flynn ...</p>
        </div>
      </div>


      <hr>
      <div class="row">
        <div class="col-md-4">
          <a href="http://www.worldirishdance.com/" target="_blank">
            <h3>2014 World Qualifiers</h3>
          </a>

          <a href="#" rel="popover" title="World Qualifier - Ava Moylan U10">
            <img src="https://s3.amazonaws.com/flynnirishdance/Initial+Picture+Uploads/moylan.jpg" class="img-rounded" style="width: 170px; height: 300px">
          </a>

          <a href="#" rel="popover" title="World Qualifier - Kasey Van Doran U13">
            <img src="https://s3.amazonaws.com/flynnirishdance/Initial+Picture+Uploads/van_doran.jpg" class="img-rounded" style="width: 170px; height: 300px">
         </a>
        </div>
        <div class="col-md-8">
          <a href="http://naidc2014.wordpress.com/" target="_blank">
            <h3>2014 Nationals Qualifiers</h3>
          </a>

          <a href="#" rel="popover" title="National Qualifier - Kayla Campisi U11">
            <img src="https://s3.amazonaws.com/flynnirishdance/Initial+Picture+Uploads/campisi.jpg" class="img-rounded" style="width: 170px; height: 300px">
          </a>

          <a href="#" rel="popover" title="National Qualifier - Lily Maloney U11">
            <img src="https://s3.amazonaws.com/flynnirishdance/Initial+Picture+Uploads/maloney.jpg" class="img-rounded" style="width: 170px; height: 300px">
          </a>

          <a href="#" rel="popover" title="National Qualifier - Ashling O'Connor U12">
            <img src="https://s3.amazonaws.com/flynnirishdance/Initial+Picture+Uploads/oconnor.jpg" class="img-rounded" style="width: 170px; height: 300px">
          </a>

          <a href="#" rel="popover" title="National Qualifier - Dillon Syron U11">
            <img src="https://s3.amazonaws.com/flynnirishdance/Initial+Picture+Uploads/syron.jpg" class="img-rounded" style="width: 170px; height: 300px">
          </a>
        </div>
      </div>
    </div>



    <script>
        $('#popover').popover();
    </script>

  </body>
</html>
