
  <footer class="navbar navbar-inverse navbar-fixed_bottom" id="contact-container" role="navigation">

    <div class="container">
      <p class="navbar-text pull-left">Flynn School of Irish Dance - 2014</p>
      <p class="navbar-text pull-right">###-###-####</p>
      <p class="navbar-text pull-right">Contact Us</p>



     </div><!-- /.navbar-collapse -->

    </footer>
</html>